[run]
omit = 
    */app_models/*
    */admin.py
    */apps.py
    */models.py
    */__init__.py
    */migrations/*
    */config.py
    */settings.py

[report]
omit = 
    */app_models/*
    */admin.py
    */apps.py
    */models.py
    */__init__.py
    */migrations/*
    */config.py
    */settings.py



show_missing = True
